@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: aliceblue;
}

h1#principal {
    color: black;
    text-align: center;
    background-color: beige;
}

.basico {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    text-align: justify;
}