@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');

@font-face {
    font-family: 'Android' ;
    src: url(fontes/idroid.otf) format('opentype');
}


:root {
    --cor0: #C5EBD6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

}


body {
    margin: 0;
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, #3DDC84, #063D1E);
    color: white;
    margin: 0;
    padding: 20px;
    height: 200px;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
}

.header {
    text-align: center;
    padding: 20px;
}

.nav {
    padding: 10px;
}


nav {
    background-color: #063D1E;
    padding: 10px;
}

nav a:hover {
    background-color: var(--cor2);
    border-radius: 10px;
}

main {
    background-color: white;
    margin: auto;
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
}

img {
    display: block;
    margin: auto;
}

p {
    text-indent: 20px;
    text-align: justify;
}

aside {
    background-color: #C5EBD6;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    min-width: 300px;
    max-width: 780px;
    margin: 0;
    margin: auto;
}

h3 {
    background-color: #2FA866;
    color: white;
    margin: 0;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


ul {
    columns: 2;
}

footer {
    background-color: #063D1E;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

h2 {
    background-image: linear-gradient(to right, #83e1ad, white);
    color: #063D1E;
    text-indent: 5px;
    font-family: var(--fonte-android);
    padding: 3px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #063D1E;
}

main a:hover {
    text-decoration: underline;
}

nav > a {
    color: white;
}

main h1 {
    color: #063D1E;
    font-family: var(--fonte-android);
    font-weight: normal;
}

abbr {
    text-decoration: none;
}



